<% layout('layouts/boilerplate')%> 

<style>
    #head{
        color:blue;
        text-align: center;
    }
    .card{
        display:flex;
        flex-direction: row;
        border : 0.5px solid grey;
        height:280px;
        max-width: 600px;
        margin: 30px auto;
        padding:20px;
        text-align:center;
        box-shadow: 0 4px 8px 0 rgba(226, 18, 18, 0.2), 0 6px 20px 0 rgba(226, 9, 9, 0.19);
    }
    .cardImage{
        margin:auto 0;
    }
    .cardDesc{
        float:right;
        margin :0 auto;

    }
    .cardDesc>p,button{
        margin : 10px 0;
    }
    .topbar{
        display:flex;
        flex-direction: row;
    }
    .topbar>div{
        display: inline;
    }
    .search{
        margin-left: auto;
    }
    #inputfield{
        display: inline;
    }
    #selectfield{
        display:none;
    }
    .search{
        padding:10px;
    }

</style>

    <div class='topbar'>

        <a role='button' style='margin:10px;height:38px;background-color:rgb(238, 96, 111);' class='btn btn-danger' href='/dashboard'>Back to All Products</a>

        <div class='search'>

            <form action='/search' method='POST'>

                <input id='inputfield' type='text' name='product' placeholder='Search' style='height:35px;margin-right: 10px;'>

                <span id='selectfield'>

                    <select  name='tag' style='height:35px;width:200px;margin-right: 10px;' >
                        <option value="Ancient Sculptures">Ancient Sculptures</option>
                        <option value='Antique Jewelry'>Antique Jewelry</option>
                        <option value='Ancient Clocks'>Ancient Clocks</option>
                        <option value='Ancient utencils'>Ancient utencils</option>
                        <option value='Porcelain and Glass antiques'>Porcelain and Glass antiques</option>
                        <option value='Old Paintings'>Old Paintings</option>
                        <option value='Old coin collections'>Old coin collections</option>
                        <option value='General ancient collections'>General ancient collections</option>
                    </select>

                </span>

                <select name='searchoption' id='selectOption' onchange="return changeInput()" style='height:35px;width:200px;margin-right: 10px;'>
                
                    <option value='Search by name'>Search by name</option>
                    <option value='Search by tag'>Search by tag</option>
                    
                </select>

                <button  class='btn btn-danger' type='submit' style='height:35px;background-color:rgb(238, 96, 111);'>Search</button>

            </form>

        </div>

    </div>

    <script>
        function changeInput(){
            let selectInput = document.getElementById('selectOption');
            let selectValue = selectInput.value;
            if(selectValue=='Search by tag'){
                document.getElementById('inputfield').style.display='none';
                document.getElementById('selectfield').style.display = 'inline';
            }
            if(selectValue=='Search by name'){
                document.getElementById('inputfield').style.display='inline';
                document.getElementById('selectfield').style.display = 'none';
            }
            return true;
        }


    </script>

<hr>

    <h3 class="mb-5 mt-4 text-center"  style='color:rgb(238, 96, 111);'>Products related to the search : <%=name%> </h3>

    <% if(products.length!=0){ %> 

    <% for(product of products){ %>

        <div class='card'>

            <div class='cardImage'>
                <img src="data:image/<%=product.image.contentType %>;base64, 
                <%=product.image.data.toString('base64') %>" width="200" height="200" alt="Image"> 
            </div>

            <div class='cardDesc' >
                <p style="font-weight: bold;"><%=product.name%></p>
                <% if(product.canBid==false){ %>
                
                    <p style='font-weight: bold;color:rgb(238, 96, 111);'>(Bidding ended!)</p>
    
                <% } %> 
                <p><span style="font-weight: bold;">Tag : </span><%=product.tag%></p>
                <p><span style="font-weight: bold;">Current Bidding Price : </span>₹ <%=product.highBidPrice%> </p>
                <% if(!product.highestBid){ %>
                   
                    <p>No one bidded this product yet!</p>
                
                <% } else {%>
                    
                    <p><span style="font-weight: bold;">Highest Bidder : </span><%=product.highestBid.owner.username%> </p>

                <% } %> 

                <a role="button" style='background-color:rgb(238, 96, 111);border:0px;margin-top: 8px;' href='/product/<%=product._id%>/show' class="btn btn-danger">View Product</a>
            </div>

        </div>

    <% } %>

    <% } else { %> 

        <p style='color:rgb(238, 96, 111);text-align: center;'> No products found related to your search! </p>

        

    <% } %> 


