<% layout('layouts/boilerplate')%> 


    <img src="data:image/<%=product.image.contentType %>;base64, 
    <%=product.image.data.toString('base64') %>" width="200" height="200" alt="Image"> 
    <h2><%=product.name%></h2>
    <p>Description: <%=product.description%></p>
    <p>Starting price : <%=product.startPrice%> </p>

    <br><br>

    <a href='/product/<%=product._id%>/update'>Edit product details</a>

    <br><br>

    <form action='/product/<%=product._id%>/delete?_method=DELETE' method='POST'>
    
    <button>DELETE</button>
    
    </form>

    <br><br>

    <a href='/dashboard'>Back to dashboard</a>

  