<% layout('layouts/boilerplate')%> 

<style>

    .card{
        display:flex;
        flex-direction: row;
        border : 0.5px solid grey;
        height:fit-content;
        max-width: 850px;
        margin: 30px auto;
        padding:20px;
        text-align:center;
        box-shadow: 0 4px 8px 0 rgba(226, 18, 18, 0.2), 0 6px 20px 0 rgba(226, 9, 9, 0.19);
    }
    .cardImage{
        margin:auto 0;
    }
    .cardDesc{
        float:right;
        margin :0 auto;

    }
    .buttons{
        display: flex;
        flex-direction: row;
    }
    .buttons> *{
        margin:20px;
        background-color:rgb(238, 96, 111);
        border : 0;
    }
    .productDesc{
        border : 0.5px solid grey;
        height:fit-content;
        max-width: 850px;
        margin: 30px auto;
        padding:20px;
        box-shadow: 0 4px 8px 0 rgba(226, 18, 18, 0.2), 0 6px 20px 0 rgba(226, 9, 9, 0.19);
        border-radius: 5px;
        
    }
    #table{
        max-width: 850px;
        margin : 30px auto;
    }


</style>
    <br>
    <div class='card'>

        <div class='cardImage'>

            <img src="data:image/<%=product.image.contentType %>;base64, 
            <%=product.image.data.toString('base64') %>" width="250" height="250" alt="Image"> 
    
        </div>

        <div class='cardDesc'>
            <h2 style='color:rgb(238, 96, 111);'><%=product.name%></h2>
            <p><strong>Owner : </strong><%=product.owner.username%></p>
            <p><strong>Tag : </strong><%=product.tag%> </p>
            <p><strong>Starting price : </strong>₹ <%=product.startPrice%> </p>
    
            <% if(product.bids.length!=0){ %> 
    
                <p><strong>Highest Bidder : </strong><%=product.highestBid.owner.username%></p>
                <p><strong>Highest Bid Price : </strong>₹ <%=product.highBidPrice%></p>
    
            <% } %> 
    
            <% let deadlineDate= product.bidDeadline %> 
            <% let date = new Date(deadlineDate),month = ("0" + (date.getMonth() + 1)).slice(-2),day = ("0" + date.getDate()).slice(-2); %> 
            <% date = [day,month,date.getFullYear()].join("-") %> 
            <% let time = new Date(deadlineDate) , hour = ("0" + time.getHours()).slice(-2) ,minute = ("0" + time.getMinutes()).slice(-2) %> 
            <% time = [hour, minute].join(":") %> 
    
            <p><strong>Deadline for bidding : </strong><%=date%> at <%=time%> (IST) </p>
    
        </div>

    </div>  

    <div class='productDesc'>
        <p style='word-wrap: break-word'><strong>Product Description: </strong><%=product.description%></p>
    </div>


    <% if(product.canBid == true){ %>
    
        <div class='productDesc'>

            <form action='/product/<%=product._id%>/bid/<%=currentUser._id%>' method="POST" >

                <p style='text-align: center;'>Bid for this product</p>
                <div style='display:flex;flex-direction: column;justify-content: center;align-items: center;'>
                    <div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">₹</span>
                        <input style='width:300px;height:40px;' type='number' id='bidamount' name='price' min='<%=(product.highBidPrice)+1%>' placeholder='Bid Amount' required>  
                    </div>
                </div>
                    
                    <button class='btn btn-primary' style='width:40%;margin:10px;border : 0;background-color:rgb(238, 96, 111);' type='submit'>Bid</button>
                </div>
    
            </form>

        </div>

 

    <% } else { %>
        
        <h3 style='color:rgb(238, 96, 111);text-align: center;'>Bidding for this product has ended!</h3>
        
    <% } %> 

    <br><br>

    <h4 style='color:rgb(238, 96, 111);text-align: center;'>Bidding History</h4>

    <% if(product.bids.length==0){ %> 
        <p style='color:rgb(238, 96, 111);text-align: center;'> No one has bidded for this product yet! </p>
    <% } else { %>

    <table id='table' class="table table-striped">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Bidder Name</th>
              <th scope="col">Bidded Amount</th>
              <th scope="col">Bidded at</th>
            </tr>
          </thead>

          <% for(let j=1,i= product.bids.length-1 ; i>=0 ; i--,j++){ %>

            <tbody>
                <tr>
                    <th scope="row"><%=j%> </th>
                    <td><%=product.bids[i].owner.username%></td>
                    <td>₹ <%=product.bids[i].price%></td>
                    <td><%=product.bids[i].createdAt.toLocaleDateString()%> at <%=product.bids[i].createdAt.toLocaleTimeString()%> </td>
                </tr>
          </tbody>

          <% } %> 
    
    </table>

    <% } %> 