<% layout('layouts/boilerplate')%> 

<style>
    

    .card{
        display:flex;
        flex-direction: row;
        border : 0.5px solid grey;
        height:fit-content;
        max-width: 850px;
        margin: 30px auto;
        padding:20px;
        text-align:center;
        box-shadow: 0 4px 8px 0 rgba(226, 18, 18, 0.2), 0 6px 20px 0 rgba(226, 9, 9, 0.19);
    }
    .cardImage{
        margin:auto 0;
    }
    .cardDesc{
        float:right;
        margin :0 auto;

    }
    .buttons{
        display: flex;
        flex-direction: row;
    }
    .buttons> *{
        margin:20px;
        background-color:rgb(238, 96, 111);
        border : 0;
    }
    .productDesc{
        border : 0.5px solid grey;
        height:fit-content;
        max-width: 850px;
        margin: 30px auto;
        padding:20px;
        box-shadow: 0 4px 8px 0 rgba(226, 18, 18, 0.2), 0 6px 20px 0 rgba(226, 9, 9, 0.19);
        border-radius: 5px;
        
    }
    #table{
        max-width: 850px;
        margin : 30px auto;
    }
    .slidecontainer {
        width: 200px;
    }

    .slider {
        width: 100%;
        height: 15px;
        border-radius: 5px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        transition: opacity .2s;
    }

    .slider:hover {
        opacity: 1;
    }
    #centeralign{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 550px;
        margin : auto ; 
    }
    .ratingDesc{
        border : 0.5px solid grey;
        height:fit-content;
        max-width: 650px;
        margin: 30px auto;
        padding:20px;
        box-shadow: 0 4px 8px 0 rgba(226, 18, 18, 0.2), 0 6px 20px 0 rgba(226, 9, 9, 0.19);
        border-radius: 5px;
    }
    #center{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .allcomments{
        border : 0.5px solid grey;
        height:fit-content;
        max-width: 550px;
        margin: 30px auto;
        padding:12px;
        box-shadow: 0 4px 8px 0 rgba(226, 18, 18, 0.2), 0 6px 20px 0 rgba(226, 9, 9, 0.19);
        border-radius: 5px;
    }
    textarea{
        padding:8px;
    }
    p,h2,h3,h4{
        word-wrap: break-word;
    }



</style>
    <br>
    <div class='card'>

        <div class='cardImage'>

            <img src="data:image/<%=product.image.contentType %>;base64, 
            <%=product.image.data.toString('base64') %>" width="250" height="250" alt="Image"> 
    
        </div>

        <div class='cardDesc'>
            <h2 style='color:rgb(238, 96, 111);'><%=product.name%></h2>
            <% if(product.canBid==false){ %>
                
                <p style='font-weight: bold;color:rgb(238, 96, 111);'>(Bidding ended!)</p>

            <% } %> 
            <p><strong>Owner : </strong><%=product.owner.username%></p>
            <p><strong>Tag : </strong><%=product.tag%> </p>
            <% let sum %> 
            <% if(product.reviews.length == 0){%>
                
                <% sum =0 %> 

            <% } else { %> 

            <% sum = 0 %> 
            <% for(review of product.reviews ){ %> 

                <% sum=sum+review.rating %> 

            <% } %>
            
            <% sum = (sum/(product.reviews.length))%> 

            <% } %> 

            <% if(Number.isInteger(sum)){ %> 
                <p><strong>Overall Rating : </strong><%=sum%>/5</p>
            <% } else { %> 
                <p><strong>Overall Rating : </strong><%=sum.toFixed(2)%>/5</p>
            <% } %> 

            <p><strong>Starting price : </strong>₹ <%=product.startPrice%> </p>
    
            <% if(product.bids.length!=0){ %> 
    
                <p><strong>Highest Bidder : </strong><%=product.highestBid.owner.username%></p>
                <p><strong>Highest Bid Price : </strong>₹ <%=product.highBidPrice%></p>
    
            <% } %> 
    
            <% let deadlineDate= product.bidDeadline %> 
            <% let date = new Date(deadlineDate),month = ("0" + (date.getMonth() + 1)).slice(-2),day = ("0" + date.getDate()).slice(-2); %> 
            <% date = [day,month,date.getFullYear()].join("-") %> 
            <% let time = new Date(deadlineDate) , hour = ("0" + time.getHours()).slice(-2) ,minute = ("0" + time.getMinutes()).slice(-2) %> 
            <% time = [hour, minute].join(":") %> 
    
            <% if(product.canBid===true){ %> 
            <p><strong>Deadline for bidding : </strong><%=date%> at <%=time%> (IST) </p>
            <% } %> 
    
        </div>

    </div>  

    <div class='productDesc'>
        <p style='word-wrap: break-word'><strong>Product Description: </strong><%=product.description%></p>
    </div>


    <% if(product.canBid == true){ %>
    
        <div class='productDesc'>

            <form action='/product/<%=product._id%>/bid/<%=currentUser._id%>' method="POST" >

                <p style='text-align: center;'>Bid for this product</p>
                <div style='display:flex;flex-direction: column;justify-content: center;align-items: center;'>
                    <div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">₹</span>
                        <input style='width:300px;height:40px;' type='number' id='bidamount' name='price' min='<%=(product.highBidPrice)+1%>' placeholder='Bid Amount' required>  
                    </div>
                </div>
                    
                    <button class='btn btn-danger' style='width:40%;margin:10px;border : 0;background-color:rgb(238, 96, 111);' type='submit'>Bid</button>
                </div>
    
            </form>

        </div>

 

    <% } else { %>
        
        <h3 style='color:rgb(238, 96, 111);text-align: center;'>Bidding for this product has ended!</h3>
        
    <% } %> 

    <br><br>

    <h4 style='color:rgb(238, 96, 111);text-align: center;'>Bidding History</h4>

    <% if(product.bids.length==0){ %> 
        <p style='color:rgb(238, 96, 111);text-align: center;'> No one has bidded for this product yet! </p>
    <% } else { %>

    <table id='table' class="table table-striped">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Bidder Name</th>
              <th scope="col">Bidded Amount</th>
              <th scope="col">Bidded at</th>
            </tr>
          </thead>

          <% for(let j=1,i= product.bids.length-1 ; i>=0 ; i--,j++){ %>

            <tbody>
                <tr>
                    <th scope="row"><%=j%> </th>
                    <td><%=product.bids[i].owner.username%></td>
                    <td>₹ <%=product.bids[i].price%></td>
                    <td><%=product.bids[i].createdAt.toLocaleDateString()%> at <%=product.bids[i].createdAt.toLocaleTimeString()%> </td>
                </tr>
          </tbody>

          <% } %> 
    
    </table>

    <% } %> 

<br><hr>

    <h4 style='color:rgb(238, 96, 111);text-align: center;'>Add your Comments</h4>

    <div  class='ratingDesc'>
        <div id='centeralign'>
        <form action='/product/<%=product._id%>/addreview' method="POST">

            <div class="slidecontainer">
                <p><strong style='color:rgb(238, 96, 111);'>Rating : </strong><span id="demo"></span> out of 5 </p>
                <input style='width:250px' type="range" min="1" max="5" class="slider" value='1' name='rating' id="myRange" required>         
            </div><br>
            <label for='review'><strong style='color:rgb(238, 96, 111);'>Comment : </strong></label><br>
            <textarea style='width:250px;border:2px solid rgb(238, 96, 111);' id='review' name='review' required></textarea><br><br>
            <div id='center'>
                <button class='btn btn-danger' style="width:150px;background-color:rgb(238, 96, 111);" type='submit'>Comment</button>
            </div><br>
        </div>
        </form>
    </div>


   <br><br>

   <h4 style='color:rgb(238, 96, 111);text-align: center;'>All Comments</h4>

   <% if(product.reviews.length==0){ %>
        
    <p style='color:rgb(238, 96, 111);text-align: center;'> No one has commented on this product yet! </p>
    
    <% } else { %> 


   <% for(review of product.reviews){ %>

    <div class='allcomments'>

        <p style='color:rgb(238, 96, 111);font-weight: bold;'><%=review.user.username%></p><span>at <%=review.updatedAt.toLocaleDateString()%> <%=review.updatedAt.toLocaleTimeString()%>  </span><hr>
        <p><strong style='color:rgb(238, 96, 111);'>Rating : </strong><%=review.rating%>/5</p>
        <p><strong style='color:rgb(238, 96, 111);'>Comment : </strong><%=review.comment%></p>

        <% if(review.user.equals(currentUser._id)){ %> 
            <a role='button' style='margin:10px;background-color:rgb(238, 96, 111);' class='btn btn-danger' href='/product/<%=product._id%>/review/<%=review._id%>/delete'>Delete</a>
            
            <a role='button'  style='margin:10px;background-color:rgb(238, 96, 111);' class='btn btn-danger' href='/product/<%=product._id%>/review/<%=review._id%>/edit'>Edit</a>
        <% } %> 

    </div>
    <% } %> 

    <% } %> 



    <script>
        var slider = document.getElementById("myRange");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value;
        
        slider.oninput = function() {
          output.innerHTML = this.value;
        }
    </script>